#navi {
  font-family: 'League Script', cursive;
  color: aliceblue;
 
}

#navi a {
  color: aliceblue;
}

#navi a:hover {
  text-shadow: lightseagreen 1px 0 15px;
}

.navbar-brand {
  display:inline-block;
}

/* #logo {
  box-shadow: white 1px 0 10px;
  border-radius: 60px;
} */
